<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7f5b4673-ed17-462e-b973-83308179ff6f/resourceGroups/MunicipalPortalBackend20231114172735ResourceGroup/providers/Microsoft.Web/sites/municipal-portal</ResourceId>
    <ResourceGroup>MunicipalPortalBackend20231114172735ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7f5b4673-ed17-462e-b973-83308179ff6f/resourceGroups/MunicipalPortalBackend20231114172735ResourceGroup/providers/Microsoft.ApiManagement/service/MunicipalPortalBackend/apis/MunicipalPortalBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://municipal-portal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>89779b27-286c-4204-8b78-aae6c70a8d89</ProjectGuid>
    <MSDeployServiceURL>municipal-portal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>municipal-portal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$municipal-portal</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>